*{
    box-sizing: border-box;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #F2F2F2;
    padding: 32px 0px;
    margin: 0px;
}
.container{
    margin: auto;
    padding: 0px 16px;
    width: 375px;
    height: 748px;
}
.container, form, .notesContainer, .row, .note{
    display: flex;
    flex-direction: column;
}
.container, .notesContainer, .row, .note{
    gap: 16px;
}
h1{
    font-size: 32px;
    text-align: center;
    margin: 0px;
}
textarea{
    height: 120px;
    resize: none;
}
textarea, .note{
    padding: 16px;
    width: 343px;
    background-color: #FFFFFF;
    border: 2px solid #4F4F4F;
}
textarea, .note, #createBtn, .delete{
    border-radius: 16px;
}
form{
    flex-wrap: wrap;
    gap: 8px;
}
textarea::placeholder{
    color: BDBDBD;
}
textarea:focus::placeholder{
    color: transparent;
}
textarea::placeholder, p, #createBtn{
    font-size: 24px;
}
#createBtn{
    width: 343px;
    height: 45px;
    padding: 8px 16px;
    background-color: #4F4F4F;
    color: #FFFFFF;
}
#createBtn, .delete{
    border: none;
}
.notesContainer{
    align-items: center;
}
.note{
    justify-content: space-between;
    flex: 1;
}
p{
    line-height: 28.8px;
    color: #333333;
    margin: 0px;
}
.delete{
    padding: 4px 16px;
    width: 83px;
    height: 30px;
    background-color: E0E0E0;
    font-size: 18px;
    color: #4F4F4F;
    align-self: end;
}