*{
    box-sizing: border-box;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #F2F2F2;
    padding: 32px 0px;
    margin: 0px;
}
.container{
    margin: auto;
    padding: 0px 16px;
    width: 375px;
    height: 748px;
}

@media screen and (max-width: 375px) {
    .container, form, .notesContainer, .row, .note{
        display: block;
    }
    form{
        margin-top: 16px;
    }
    #createBtn{
        margin-top: 8px;
    }
    .note, .delete, .edit{
        margin-top: 16px;
    }
    .note{
        text-align: end;
    }
    p{
        text-align: start;
    }
}
@media screen and (min-width: 376px) {
    .container, form, .notesContainer, .row, .note{
        display: flex;
        flex-direction: column;
    }
    form{
        flex-wrap: wrap;
        gap: 8px;
    }
    .container, .notesContainer, .row, .note{
        gap: 16px;
    }
    .notesContainer{
        align-items: center;
    }
    .note{
        justify-content: space-between;
        flex: 1;
    }
}
h1{
    font-size: 32px;
    text-align: center;
    margin: 0px;
}
textarea{
    height: 120px;
    resize: none;
    font-size: 24px;
}
textarea, .note{
    padding: 16px;
    width: 343px;
    background-color: #FFFFFF;
    border: 2px solid #4F4F4F;
}
textarea, .note, #createBtn, .delete, .edit, .restablecer{
    border-radius: 16px;
}
textarea::placeholder{
    color: BDBDBD;
}
textarea:focus::placeholder{
    color: transparent;
}
textarea::placeholder, p, #createBtn{
    font-size: 24px;
}
#createBtn, .restablecer{
    width: 343px;
    height: 45px;
    padding: 8px 16px;
    background-color: #4F4F4F;
    color: #FFFFFF;
}
#createBtn, .delete, .edit, .restablecer{
    border: none;
    cursor: pointer;
}
p{
    line-height: 28.8px;
    color: #333333;
    margin: 0px;
}
.delete, .edit{
    padding: 4px 16px;
    width: 83px;
    height: 30px;
    background-color: E0E0E0;
    font-size: 18px;
    color: #4F4F4F;
    align-self: end;
}
.date{
    font-size: 16px;
}
.btnContainer{
    display: flex;
    justify-content: space-between;
}
.restablecer{
   font-size: 18px;
   width: 200px;
   align-self: center;
}